@import '../styles/variables';
@import '../styles/placeholders';
@import '../styles/animations';

.bg {
    width: 100vw;
    min-height: 100vh;

    background-size: cover;
}

.home,
.destination,
.crew,
.technology {
    animation: fadein .7s;
}

.wrapper {
    width: 77.084%;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

button {
    padding: 0;
    border: none;

    background-color: transparent;
    color: $white;

    cursor: pointer;
}

.current {
    @extend %current-page;  

    &:hover {
        border-color: inherit;
    }
}

.active {
    @extend %active-tab;  

    &:hover {
        border-color: inherit;
    }
}