html {
    font-size: 125%;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: .8rem;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
.subheading--one {
    font-family: "Bellefair", serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
.subheading,
nav {
    text-transform: uppercase;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5, 
.subheading--one {
    font-size: 1.4rem;
}

h5 {
    letter-spacing: 4.75;
}

.subheading--two {
    font-size: .7rem;
    letter-spacing: 2.35;
}

nav {
    font-size: .8rem;
    letter-spacing: 2.7;
}