@import './variables';

html {
    font-size: 125%;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: .9rem;
    font-weight: 400;
    color: $white;
}

p {
    line-height: 32px;
    margin: 0;
}

h1, h2, h3, h4, h5,
.subheading,
nav, .nav-btn, .nav-text {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

h1, h2, h3, h4,
.subheading--one {
    font-family: "Bellefair", serif;
}

h5, 
nav .nav-btn, .nav-text
.subheading--two {
    font-family: "Barlow Condensed", sans-serif;
}


h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5, 
.subheading--one {
    font-size: 1.4rem;
}

h5 {
    letter-spacing: 4.75px;
}

.subheading--two {
    font-size: .7rem;
    letter-spacing: 2.35px;
}

nav, .nav-btn, .nav-text {
    font-size: .8rem;
    letter-spacing: 2.7px;
}

.bold {
    font-weight: 700;
}